body {
    background-image:url("/Images/mountain.jpg");
    background-size: 100% 100%;
}

html {
    height: 110%
}

form{
  padding-top: 10px;
}

button{
  display: inline-block;
}

img{
  background-color: #FBE0C4;
  border-radius: 16px;
}

.mainbox {
  width: 600px;
  height: 400px;
  margin: 20px auto;
   background: rgba(250, 244, 255, 0.9);
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.suncloud{
  color: white;
}

.top-border{
  height: 10%;
  background-image: linear-gradient(65deg, #7C83FD, #FBE0C4);
  padding: 1%;
  color: white;
}

.search-box{
  width: 80%;
  display: inline-block;
}

#five-day-box {
  padding: 10px auto;
  text-align: center;
}

.card {
  width: 300px;
  height: 350px;
  margin: 5% 25%;
  background: #FAF4FF;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  text-align: center;
}
